version: '3'
services:
  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27018:27017"

  account-service:
    build: ./account_service
    container_name: account-service
    ports:
      - "3330:3030"
    environment:
      - PORT=3030
      - MONGO_URI=mongodb://mongo:27017/spendwise
      - JWT_SECRET_KEY=MySecret
    depends_on:
      - mongo

  expense-service:
    build: ./expense_service
    container_name: expense-service
    ports:
      - "3332:3032"
    environment:
      - PORT=3032
      - MONGO_URI=mongodb://mongo:27017/spendwise
      - ACCOUNT_SERVICE_URL=http://account-service:3030
    depends_on:
      - account-service
      - mongo

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3380:3080"
    depends_on:
      - account-service
      - expense-service
    environment:
      - PORT=3080
      - ACCOUNT_SERVICE_URL=http://account-service:3030
      - EXPENSE_SERVICE_URL=http://expense-service:3032