<nav class="navbar navbar-light bg-white px-4">
  <h3 class="navbar-brand text-primary">
    <a href="/" style="text-decoration: none;">SpendWise</a>
  </h3>
  <div>
    <% if (!session) { %>
      <a href="/register" class="btn btn-outline-primary m-2">Register</a>
      <a href="/login" class="btn btn-outline-primary">Login</a>
    <% } else { %>
      <a href="/expense" class="btn btn-outline-primary m-2">Expense</a>
      <a href="/category" class="btn btn-outline-primary">Category</a>
      <a href="/account" class="btn btn-outline-primary">Account</a>
      <button type="button" id="logout_button" class="btn btn-outline-primary">Logout</button>
    <% } %>
  </div>
</nav>

<script>
  
</script>